[2017-02-17 05:42] siddontang opened #15 "support direct IO option"

[2017-02-17 05:47] siddontang opened #16 "use rocksdb 5.1.2"
RocksDB 5.0.2 fixes a DeleteRange corruption, we should update for later DeleteRange use.

[2017-03-01 02:41] hhkbp2 opened #19 "Add the delete_range interface"
The `DeleteRange` method is added in RocksDB 5.0.1 experimental performance optimization for deleting very large ranges of contiguous keys. It should be added into this repo for performance profiling.

[2017-03-09 23:24] #16 closed

[2017-03-09 23:24] #19 closed

[2017-03-10 07:02] siddontang opened #23 "support create WriteBatch with capacity"
We can create WriteBatch with capacity to avoid frequent re-allocation.

[2017-03-10 08:03] siddontang opened #24 "reduce the redundant data copy for Get"
The rocksdb_get API will first save data into a C++ string, then copy the string to a malloc buffer and return for outer use.

Maybe we can reduce the redundant copy. We may return a C structure which wraps the c++ string directly.

This may improve a little performance, but I still doubt whether it is worth to do or not.

[2017-04-15 10:45] arthurprs opened #39 "LZ4 compiled without optimizations"
Hi, I'm not sure (don't know much about make) but I noticed a few LZ4 functions on `perf top` and went to check.

I think setting CFLAGS here https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/build.sh#L99 is preventing make to set optimizations flags downstream https://github.com/lz4/lz4/blob/dev/lib/Makefile#L48

I may be better to use MOREFLAGS for the `-fPIC`

[2017-04-15 15:22] siddontang commented on #39
seem that we should add `-O3` here /cc @BusyJay

[2017-04-18 04:50] #39 closed

[2017-05-01 21:37] arthurprs commented on #24
The new get() api in rocksdb 5.4 should make this possible without hassle.

[2017-05-01 22:59] siddontang commented on #24
@arthurprs

It is cool, can you give us any discussion or reference about this?

[2017-05-02 07:12] arthurprs commented on #24
I think this is the PR https://github.com/facebook/rocksdb/pull/1756

[2017-05-02 08:00] siddontang opened #50 "run test in travis and circle CI"

[2017-05-03 02:58] #15 closed

[2017-05-16 06:16] #50 closed

[2017-05-16 06:17] andelf commented on #50
fixed by #54

[2017-05-16 06:21] andelf commented on #23
fixed by #58

[2017-05-16 06:21] #23 closed

[2017-06-01 14:53] andelf commented on #24
#62 fixes

[2017-06-01 14:53] #24 closed

[2017-06-21 04:32] andelf opened #71 "Feature Request/Task Tracking: User Properties Collector"
related: #66

TODOs:

Functions:

-  `DB::GetPropertiesOfAllTables` & `DB::GetPropertiesOfTablesInRange`
- `Options::table_properties_collector_factories` (is de facto a `std::vector`)

Interfaces/Traits:

- `TablePropertiesCollectorFactory`
- `TablePropertiesCollector`

Types:

- `TablePropertiesCollection`
  - `std::unordered_map<std::string, std::shared_ptr<const TableProperties>>`
- `UserColle

[2017-06-21 04:37] andelf opened #72 "Feature Request/Task Tracking: Minimize ReadOptions memory overhead"
related #69

Memory profiling shows that, ReadOptions creation does have costs.

TODO: optimization.

- Snapshot read C API with ReadOptions allocated on stack. proposed by @BusyJay
- singleton model for ReadOptions, avoid create new

[2017-06-24 21:16] huachaohuang opened #76 "please check each commit with valgrind"
Since this repo contains a lot of unsafe code, I suggest to check each commit with valgrind.

Note: valgrind shows some memory leaks / corruption on master branch, I will try to fix that later.

[2017-06-25 01:30] siddontang commented on #76
Hi @huachaohuang

Seem we can use sanitizer now. See https://github.com/rust-lang/rfcs/issues/670

[2017-06-25 04:22] huachaohuang commented on #76
Looks good to me, when can we use it?

[2017-06-25 05:33] siddontang commented on #76
@huachaohuang

You can try it ASAP.

[2017-06-26 17:15] andelf opened #77 "Memory Leaks in tests: LeakSanitizer: 13486 byte(s) leaked in 38 allocation(s)."
refer #76

Leak Positions:

- [ ] `crocksdb_get_pinned librocksdb_sys/crocksdb/c.cc:2881` 💣
    - VERY BAD, used very often in our project
- [ ] `crocksdb_cache_create_lru librocksdb_sys/crocksdb/c.cc:2487`  ⚠️
    - [ ] `test::test_rocksdb_options::test_get_block_cache_usage` leaks 4k

[2017-06-27 01:24] siddontang commented on #77
@andelf
What is the more detailed output for these leaks?

/cc @zhangjinpeng1987

[2017-06-27 04:07] andelf commented on #77
[code]

[code]

[code]

[2017-06-27 10:17] andelf commented on #77
This is a memory leak in LRUCache. fixed by #78.

[2017-06-28 00:36] #77 closed

[2017-07-14 07:05] choleraehyq opened #97 "Should we make method signatures of IngestExternalFileOptions be consistent with others?"
All methods *move* the ownership and return it back to user. Like this:
`pub fn snapshot_consistent(self, whether_consistent: bool) -> IngestExternalFileOptions`
But other options methods just get a mutable reference and return nothing. Like this:
`pub fn set_memtable_prefix_bloom_size_ratio(&mut self, ratio: f64) {`

It's quite weird. Should we make them consistent?

@zhangjinpeng1987

[2017-07-14 07:42] siddontang commented on #97
I prefer `move`,  but this may change the code a lot.

/cc @BusyJay

[2017-07-14 08:18] BusyJay commented on #97
Unless we use a builder to build an option, otherwise I prefer returning nothing or just returning a mutable reference.

[2017-07-14 09:32] choleraehyq commented on #97
Fixed by https://github.com/pingcap/rust-rocksdb/pull/98.

[2017-07-14 09:32] #97 closed

[2017-07-23 10:08] dreamquster opened #104 "rocksdb/utilities/debug.h: 没有那个文件或目录"
When compiling the tikv code, it report such error about librocksdb_sys-a40eeeb2edcbb581

[2017-07-23 11:45] BusyJay commented on #104
We have upgraded rocksdb to 5.5.1+ recently, please make sure rocksdb in your system is up to date.

[2017-07-26 08:25] dreamquster commented on #104
doc:https://github.com/pingcap/docs/blob/master/dev-guide/development.md
sh:https://github.com/pingcap/docs/blob/master/scripts/build_rocksdb.sh
still 5.4.6.

[2017-07-26 08:25] #104 closed

[2017-07-26 08:30] BusyJay commented on #104
Sorry for the misleading information.

@siddontang we may need to enable static link by default and remove all rocksdb related messages from doc. So that we don't need to take care of different rocksdb version especially we update the library quite often.

[2017-07-26 08:35] siddontang commented on #104
@BusyJay  +1

[2017-09-19 06:10] BusyJay opened #131 "check linked version during compilation"
We have met many issues that relate to link to the wrong version of rocksdb. It will be more friendly if a clear error can be reported at compile time.

/cc pingcap/tikv#2315

[2017-09-22 10:22] feb29 opened #137 "test `test_block_based_options` failed sometimes"
I found at https://github.com/pingcap/rust-rocksdb/pull/130

Test **sometimes** fails at [this assertion](https://github.com/pingcap/rust-rocksdb/blob/master/tests/test_rocksdb_options.rs#L588) .
I've added a message "TickerType::ReadAmpEstimateUsefulBytes is 0".

Running test on master branch by `RUST_BACKTRACE=full cargo test -- --nocapture`

output:
[code]

macOS Sierra (10.12.6)

[2017-09-26 15:11] #137 closed

[2017-10-09 00:33] siddontang commented on #131
PTAL @zhangjinpeng1987

[2017-11-05 15:11] zengqingfu1442 opened #152 "CompressionType"
How add  a  new compression type such  as gzip or   openssl for  rust-rocksdb?And then how to build it for the TiKV  storage  engine?Thanks.

[2017-11-06 00:37] siddontang commented on #152
Hi @zengqingfu1442

The compression type must be already supported in RocksDB, so you should first support this in RocksDB.

[2017-11-06 02:43] zengqingfu1442 commented on #152
Yes, I know. It is supported in RocksDB now and installed it  on my machine. But should I  rewrite it  with rust language?

[2017-11-06 03:13] siddontang commented on #152
You just need to add them in https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/crocksdb/crocksdb/c.h#L949 and https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/src/lib.rs#L87 if RocksDB supports it.

[2017-11-06 05:06] zengqingfu1442 commented on #152
Thanks, but how  can I   build the TiKV  with   the  new storage engine RocksDB   supporting  new   compression type  ?

[2017-11-06 05:23] siddontang commented on #152
you can build rocksdb dynamically, use your own rust-rocksdb in https://github.com/pingcap/tikv/blob/master/Cargo.toml#L78 then run `make release`.

[2017-11-06 06:14] zengqingfu1442 commented on #152
Thanks, I see. Should I also  put the  source code of rocksdb which  I have modified  in my own  rust-rocksdb  repository? And  put  where?

[2017-11-06 06:19] siddontang commented on #152
TiKV only needs linking your RocksDB lib dynamically, it doesn't care the source.

BTW, if you want to link your own RocksDB statically, you can update https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/build.sh#L127

[2017-11-06 06:38] zengqingfu1442 commented on #152
Thanks, I see. Now, i have  used  tidb-ansible  to deploy a  TiDB cluster(including  TiDB server, PD server and TiKV server),   should I install  my own RocksDB  on each  node?

[2017-11-06 08:34] siddontang commented on #152
1. If you let TiKV link RocksDB dynamically, you should install on each node.
2. If you build RocksDB statically in TiKV, you don't need to do it.

[2017-11-07 12:27] BusyJay opened #154 "`WriteBatch` is not thread safe"
From what I can see, `WriteBatch` is not thread safe. We should change the `put` method to take a mut ref instead.

https://github.com/facebook/rocksdb/blob/e03377c7fd86f117c6c64d35955140dab400eb3c/db/write_batch.cc#L525-L547

[2017-11-07 12:30] siddontang commented on #154
I think the user will rarely use a WriteBatch cross multi-threads, maybe make it with no send, no sync?

[2017-11-07 12:31] BusyJay commented on #154
It may be a workaround, but certainly not a good design and feels weird.

[2017-11-10 05:47] zengqingfu1442 commented on #152
Thanks, but why don't rocksdb for TiKV  use JEMALLOC when compiling?
https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/build.sh#L138

[2017-11-10 06:27] siddontang commented on #152
/cc @BusyJay

[2017-11-10 07:03] BusyJay commented on #152
Allocation will be taken over by rustc when building a binary, so link to jemalloc is unnecessary.

[2017-11-10 09:04] zengqingfu1442 commented on #152
Thanks, Jay Lee. Can use the  librocksdb_sys/build.sh other than  build.rs  written in librocksdb_sys/Cargo.toml when compiling rust-rocksdb? @BusyJay

[2017-11-10 09:25] BusyJay commented on #152
I don't get it. Do you mean you want to use librocksdb_sys/build.sh to build a native rocksdb library? I think it should work but it's recommended to follow the instruction in rocksdb repository instead.

[2017-11-10 10:33] dtcv opened #156 "How to build it on windows?"
I use cargo build,but it returns:
failed to run custom build command for `librocksdb_sys v0.1.0 (file:///E:/rustproject/rust-rocksdb-master/librocksdb_sys)`.
so i want to know how to build rust-rocksdb on windows

[2017-11-10 10:40] siddontang commented on #156
/cc @BusyJay

[2017-11-10 11:04] BusyJay commented on #156
Windwos support is quiet limited right now. You need to build a rocksdb native library, and then put it in a directory pointed by environment variables `LIB` and `LIBPATH`. Also `INCLUDE` is needed to be set properly.

After cmake is introduced, it maybe possible to build rust-rocksdb without building a rocksdb library. It maybe done in the near future, however there is no clear plan yet.

[2017-11-10 11:32] dtcv commented on #156
Thanks for your guidance, i will try it.

[2017-11-10 11:32] #156 closed

[2017-11-14 06:54] zengqingfu1442 commented on #152
Thanks, I now have built the tikv link rocksdb dynamically supporting a new compression type. I used the rocksdb5.7.0 though  the code in https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/crocksdb/c.cc#L40 only support 5.7.3+, but I changed the 3 to 0, and tikv built successfully. What problem will it happen or come across using rocksdb5.7.0?thanks

[2017-11-14 07:49] siddontang commented on #152
I remember that 5.7.3+ fixes some bugs, but I think it doesn't matter in your test.

But If you want to use in production, I suggest using a newer one.

[2017-11-14 08:57] zengqingfu1442 commented on #152
Thanks, I have integrated a new compression which is supported by rocksdb5.7.0 into tikv-v1.0.1, but now I use tikv-v1.0.0,  it come across this error when compilation, it's the file "tikv/src/config.rs"

   Compiling tikv v1.0.0 (file:///home/dzeng/tidb/build-tidb/deps/tikv)
error[E0061]: this function takes 4 parameters but 1 parameter was supplied
   --> src/config.rs:92:39
    |
92  |

[2017-11-15 01:14] siddontang commented on #152
@zengqingfu1442

TiKV doesn't use the latest rust RocksDB, we will update it later. Now you can complement the missing args by yourself.

[2017-11-15 04:22] zengqingfu1442 commented on #152
The default compression of tidb is snappy,right? So, if I wanna use another compression type, should I set the parameter related to compression in tidb-ansible/conf/tikv.yml before deploying tidb?

[2017-11-15 06:08] siddontang commented on #152
No, the default is lz4 and zstd for different levels.

You must update with your own type before deploying.

[2017-11-15 06:42] zengqingfu1442 commented on #152
Thanks, it's in tidb-ansible/conf/tikv.yml to update?

[2017-11-15 08:08] siddontang commented on #152
yes, you must also put your tikv-server in the resource/bin

[2017-11-15 11:18] zengqingfu1442 commented on #152
If I put the my built tikv-server in tidb-ansible/downloads, will it work? Must I put it under tidb-ansible/resource/bin? Thanks.

[2017-11-15 11:20] siddontang commented on #152
tidb-ansible/resource/bin then run rolling update.

[2017-11-15 11:30] zengqingfu1442 commented on #152
I tried to put my built tikv-server,tikv-ctl,tikv-fail into tidb-v1.0.1.tar.gz which replaced the original tikv*,and then deploy, at last, I can also get the same tikv-* binary under the deploy directory (just need to copy the share_lib *.so to preper directory).

[2017-11-15 11:35] zengqingfu1442 commented on #152
I wiil also put the built tikv binaries to tidb-ansible/resources/bin to replace the original binary. Thanks.

[2017-11-16 05:12] zengqingfu1442 commented on #152
What's the meaning of the compression-per-level?How can I use the specific compression type in rocksdb defaultcf?

[2017-11-16 08:40] siddontang commented on #152
you must first know rocksdb konws your compression, and then you can set the compression name for the level you want to compress.

[2017-11-16 09:58] zengqingfu1442 commented on #152
Yes, I have let rocksdb know it, and tikv-server, tikv-ctl have also linked to the dynamical linking library of the compression.

[2017-11-20 03:35] zengqingfu1442 commented on #152
Now I have let rocksdb know the new compression, but tikv doesn't know it.
I have put the new tikv binary under resources/bin and then rolling_update it.When I use tidb-ansible to start the tidb cluster, tikv always can't start up. The tikv_stderr.log says:
invalid configuration file "conf/tikv.toml": invalid value: string "csszlib", expected invalid compression type for key `rocksdb.defaultcf.com

[2017-11-20 05:07] siddontang commented on #152
Do you add your compression type here https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/src/lib.rs#L88 and here https://github.com/pingcap/rust-rocksdb/blob/master/librocksdb_sys/crocksdb/crocksdb/c.h#L956?

Does your RocksDB already know your compression type?

[2017-11-20 05:11] zengqingfu1442 commented on #152
Yes, I have added and use the modified rust-rocksdb to compile tikv successfully. The rocksdb have already know the compression.

[2017-11-20 05:16] zengqingfu1442 commented on #152
Now, I think that maybe I should change the rocksdb defaultcf compression type in tikv/src/config.rs from lz4 or zstd to the new compression before compiling tikv:

impl Default for DefaultCfConfig {
    fn default() -> DefaultCfConfig {
        DefaultCfConfig {
            block_size: ReadableSize::kb(64),
            block_cache_size: ReadableSize::mb(memory_mb_for_cf(false, CF_DEFAULT) as u64)

[2017-11-20 05:17] siddontang commented on #152
you should add your compression type here too https://github.com/pingcap/tikv/blob/master/src/util/config.rs#L52

[2017-11-20 05:20] zengqingfu1442 commented on #152
I have done it. Otherwise, the compilation should raise error.

[2017-11-20 05:23] zengqingfu1442 commented on #152
As well as here https://github.com/pingcap/tikv/blob/master/src/util/rocksdb/mod.rs#L40

[2017-11-20 07:25] zengqingfu1442 commented on #152
How can we check what compression type the tikv support? In rocksdb, after make release, we can use binary db_bench or db_sanity_test to run a sanity test checking what compression the rocksdb supports,
./db_sanity_test /mnt/sfx-card-root/rocksdb570/ create
./db_sanity_test /mnt/sfx-card-root/rocksdb570/ verify

[2017-11-20 07:56] siddontang commented on #152
you can add your compression type to the fast compression directly, like

[code]

[2017-11-20 08:21] zengqingfu1442 commented on #152
Yes, I have done before.

[2017-11-20 08:59] siddontang commented on #152
what is the compilation error now?

[2017-11-20 09:00] zengqingfu1442 commented on #152
Can I change the number of supported compression type from 7 to 10, which including 7 default compression as well as csszlib(my new compression type), ZstdNotFinal, Disable ? I think this should not raise error in tikv.log or tikv_stderr.log when I set the new compression type in tidb-ansible/conf/tikv.yml and then deploy and start.

[2017-11-20 09:01] zengqingfu1442 commented on #152
No compilation error now. I have built tikv with new compression successfully.

[2017-11-20 09:19] zengqingfu1442 commented on #152
But if I specify the compression type in tidb-ansible/conf/tikv.yml with the new compression type,
rocksdb.defaultcf: compression-per-level: ["no", "no", "csszlib", "csszlib", "csszlib", "snappy", "snappy"]
rocksdb.writecf:  compression-per-level: ["no", "no", "csszlib", "csszlib", "csszlib", "snappy", "snappy"]
raftdb.defaultcf: compression-per-level: ["no", "no", "csszlib", "csszlib", "csszlib",

[2017-11-20 09:23] zhangjinpeng1987 commented on #152
please use `zlib` not `csszlib`

[2017-11-20 10:53] siddontang commented on #152
@zengqingfu1442

You said that you have already fixed the problem, why still meet "invalid string value" error? Do you build your TiKV and put to resource/bin again?

[2017-11-20 15:14] zengqingfu1442 commented on #152
Yes, I have fixed the problem. I didn't change the default number of compaction level which is 7 in the tikv/src/config.rs, so when I start the tikv using ansible-playbook start.yml, the binary still just recognize the default 7 compression(no, snappy, zlib, bzip2, lz4, lz4hc, zstd) though the default compression-per-level has changed to [no,no,csszlib,csszlib,csszlib,snappy,snappy].

Now, I have

[2017-11-21 12:43] zengqingfu1442 commented on #152
Is there any way or tools to run sanity test checking what compression type the built tikv-server support?
In rocksdb, we can use ./db_sanity_test  to check.

[2017-11-21 18:33] siddontang commented on #152
@zengqingfu1442

We have no way now, maybe you can help us write a rust tool.

[2017-11-22 13:51] alanhoff commented on #154
I think it's pretty common to have multiple writes distributed across threads, that should include `WriteBatch`, no?

[2017-11-22 14:11] BusyJay commented on #154
That's exact the reason why `DB::write` is synchronized.

No. Generally, `WriteBatch` is created and flushed in the same thread.

[2017-11-28 05:15] zengqingfu1442 commented on #152
One of the three tikv instances is down, and the tikv.log show these messages:(there is no errors in tikv_stderr.log). Can you help me analysis the errors?Thanks.

2017/11/28 13:10:03.476 tikv-server.rs:122: [INFO] start prometheus client
2017/11/28 13:10:03.476 mod.rs:209: [INFO] starting working thread: split check worker
2017/11/28 13:10:03.476 tikv-server.rs:234: [INFO] start storage
2017/11/2

[2017-11-28 06:04] siddontang commented on #152
does your disk have any error? Do you add a TiKV and then it panics?

[2017-11-28 06:18] zengqingfu1442 commented on #152
I'm not sure if the disk have any error. I don't add a TIKV.

[2017-11-28 06:19] zengqingfu1442 commented on #152
I just started the cluster and after soon, one of the tikv instance is down.

[2017-11-28 08:15] zengqingfu1442 commented on #152
What can result in TiKV panic?

[2017-11-28 08:36] siddontang commented on #152
The panic log shows clearly that the SST file has a corrupted key. The SST file is generated by RocksDB SSTWriter, because we will check the SST file CRC32 before ingesting it, so I guess the key has already been corrupted when we generate the SST file, because you use your own compress library, I also think maybe there is something wrong when we use the compress lib to generate the SST.

Maybe yo

[2017-11-28 08:37] zengqingfu1442 commented on #152
I tried to put tikv on other disks and it's the same errors. So there is no disk error.

[2017-11-28 08:53] zengqingfu1442 commented on #152
But I tried the default compression [no,no,lz4,lz4,lz4,zstd,zstd], it's also the same error.

[2017-11-28 09:21] zengqingfu1442 commented on #152
dmesg | grep -i OOM*    and there is no OOM information.

[2017-11-28 10:01] siddontang commented on #152
You can use RocksDB tool sst_dump to dump the wrong SST to show which compression it uses. This is not relevant with your default compression configuration, but with the compression type which you used before to generate the SST.

/cc @huachaohuang

[2017-11-28 10:17] zengqingfu1442 commented on #152
Thanks, I will try it.

[2017-11-28 12:27] zengqingfu1442 commented on #152
After the tidb cluster start up, before I run sysbench benchmark, one of the tikv instances is down.
It seems that the tow sst file are OK.
[tcn@sfx-008 rocksdb-master]$ ./sst_dump --file=/mnt/sfx-card-root/tikv1_3/data/db --command=check
from [] to []
Process /mnt/sfx-card-root/tikv1_3/data/db/000012.sst
Sst file format: block-based
Process /mnt/sfx-card-root/tikv1_3/data/db/000014.sst
Sst file f

[2017-11-28 13:08] messense opened #162 "Expose multi_get APIs"
Can we add high level APIs for [`crocksdb_multi_get`](https://github.com/pingcap/rust-rocksdb/blob/f6788b6452ab176fab78e031992a7e39c7a35420/librocksdb_sys/crocksdb/c.cc#L848) and [`crocksdb_multi_get_cf`](https://github.com/pingcap/rust-rocksdb/blob/f6788b6452ab176fab78e031992a7e39c7a35420/librocksdb_sys/crocksdb/c.cc#L878)?

[2017-11-28 13:21] siddontang commented on #162
hi @messense

There was a PR https://github.com/pingcap/rust-rocksdb/pull/59 to support this, but we found that we don't need this so close it. You can help us add this again.

[2017-11-28 14:19] siddontang commented on #152
can you use sst_dump to dump all KVs?

[2017-11-28 14:52] zengqingfu1442 commented on #152
Yes,
[tcn@sfx-008 rocksdb-master]$ ./sst_dump --file=/mnt/sfx-card-root/tikv1_3/data/db --command=scan --output_hex
from [] to []
Process /mnt/sfx-card-root/tikv1_3/data/db/000012.sst
Sst file format: block-based
'0101' seq:1, type:1 => 08F3A4F6879DBFC68E5A1001
'0102' seq:5, type:0 =>
Process /mnt/sfx-card-root/tikv1_3/data/db/000014.sst
Sst file format: block-based
'0102000000000000000403' seq:7,

[2017-11-28 23:58] siddontang commented on #152
@zengqingfu1442

`/mnt/sfx-card-root/tikv1_3/data/db` only contains the valid SST files, you should check `/mnt/sfx-card-root/tikv1_3/data/snap` instead.

[2017-11-29 04:26] zengqingfu1442 commented on #152
Now, the compression-per-level is [no,no,z4,lz4,lz4,zstd,zstd]:

[tcn@sfx-008 sfx-card-root]$ ./sst_dump --file=/mnt/sfx-card-root/tikv1_3/data/snap --command=scan --output_hex
from [] to []
Process /mnt/sfx-card-root/tikv1_3/data/snap/rev_5_6_175_write.sst
Sst file format: block-based
/mnt/sfx-card-root/tikv1_3/data/snap/rev_5_6_175_write.sst: Corruption: LZ4 not supported or corrupted LZ4 compre

[2017-11-29 05:13] zengqingfu1442 commented on #152
But after deployment and start, the tikv-server binary on the machine which is deployed with 3 tikv instances can linked to the liblz4.so  :

[tcn@sfx-008 bin]$ ls
node_exporter  tikv-server
[tcn@sfx-008 bin]$ ldd tikv-server
        linux-vdso.so.1 =>  (0x00007fff7f2f5000)
        librocksdb.so.5.7 => /lib64/librocksdb.so.5.7 (0x00007f1b96db2000)
        libstdc++.so.6 => /lib64/libstdc++.so.6 (0

[2017-11-29 05:36] siddontang commented on #152
Seem that the SST file is corrupted, I still doubt that is caused by your compression library because we use LZ4 and zstd for a long time and they both work well.

What is the origin compression level in the TiKV? Do you use the same name like lz4 but in fact use your own compression library?

[2017-11-29 07:16] zengqingfu1442 commented on #152
1.The CSSZlib compression has been used in hadoop, hbase, spark mysql and mongodb so on, it works well.
2. I changed the default compression-per-level from [no,no,lz4,lz4,lz4,zstd,zstd] to [no,no,csszlib,csszlib,csszlib,csszlib,csszlib] in tikv/src/config.rs.
3. The CSSZlib is completely different from Lz4, and the CSSZlib compression library is similar to Zlib.

[2017-11-29 07:20] zengqingfu1442 commented on #152
I found the modified rocksdb used in tikv can't support lz4 compression,

[dzeng@dzeng rocksdb-master]$ ./db_sanity_test /mnt/sfx-card-root/rocksdb570/ create
Creating...
Basic -- OK
SpecialComparator -- OK
ZlibCompression -- OK
ZlibCompressionVersion2 -- OK
CSSZlibCompression -- OK
CSSZlibCompressionVersion2 -- OK
LZ4Compression -- Corruption: LZ4 not supported or corrupted LZ4 compressed block c

[2017-11-29 08:12] zengqingfu1442 commented on #152
But the log of rocksdb in /mnt/sfx-card-root/tikv1_3/data/db/LOG show that the tikv support it.
...
2017/11/29-15:57:02.651205 7f76e2b62e40 Compression algorithms supported:
2017/11/29-15:57:02.651206 7f76e2b62e40         Snappy supported: 1
2017/11/29-15:57:02.651207 7f76e2b62e40         Zlib supported: 1
2017/11/29-15:57:02.651208 7f76e2b62e40         Bzip supported: 1
2017/11/29-15:57:02.651210

[2017-11-29 08:33] siddontang commented on #152
@zengqingfu1442

How do you build the LZ4?

I think supporting LZ4 only means that RocksDB has already linked LZ4 and can use it, but it doesn't know whether this lib can work well or not.

[2017-11-29 08:44] BusyJay commented on #152
Did you build db_sanity_test or sst_dump with lz4 enabled?

[2017-11-29 09:01] zengqingfu1442 commented on #152
The rocksdb5.7.0 I used for tikv didn't support lz4. In Beijing local TiDB cluster, it work well though it doesn't support lz4 because I don't use it.

[dzeng@dzeng rocksdb-master]$ ./db_sanity_test /mnt/sfx-card-root/rocksdb570/ create
Creating...
Basic -- OK
SpecialComparator -- OK
ZlibCompression -- OK
ZlibCompressionVersion2 -- OK
CSSZlibCompression -- OK
CSSZlibCompressionVersion2 -- OK
LZ4Co

[2017-11-29 09:02] zengqingfu1442 commented on #152
I just yum install lz4-devel before "make release" rocksdb.

[2017-11-29 09:14] siddontang commented on #152
@zengqingfu1442

Because we don't use your compression lib before, so we can't know whether this is caused by your compiled RocksDB or not. I think we can start a new TiKV cluster which disables all compression at first and then check whether it can panic or not.

If not, you can all use LZ4 instead to check again. And at last, you can use your own compression library.

Every check should clean up

[2017-11-29 10:28] zengqingfu1442 commented on #152
I destroyed the cluster and set the compression-per-level as [no,no,no,no,no,no,no], and then I start it , after a while, one of the tikv instance is still down. The tikv.log shows the same error.

[tcn@sfx-008 rocksdb-master]$ ./sst_dump --file=/mnt/sfx-card-root/tikv1_3/data/snap --command=scan --output_hex
from [] to []
Process /mnt/sfx-card-root/tikv1_3/data/snap/rev_3_6_200_default.sst
Sst fi

[2017-11-29 10:56] siddontang commented on #152
@huachaohuang

Why do we still use the LZ4 here?

[2017-11-29 11:00] zengqingfu1442 commented on #152
No, I set the compression-per-level as [no,no,no,no,no,no,no]. But due to the rocksdb I use doesn't support LZ4, so when using sst_dump to analyze the sst files, it still raise such error.

[2017-11-30 06:20] siddontang commented on #152
@zengqingfu1442

Can you run `cargo test` directly to check whether your RocksDB can work well?

[2017-11-30 07:51] zengqingfu1442 commented on #152
I deployed the original tidb cluster successfully and ran sysbench benchmark. Then I replaced the tidb-ansible/resources/bin/tikv-* with my own tikv-* binary, and then rolling_update, but the tikv can't start up, the tikv.log said "2017/11/30 15:30:44.985 tikv-server.rs:230: [ERROR] failed to start node: RaftServer(RocksDb("Corruption: LZ4 not supported or corrupted LZ4 compressed block contents")

[2017-11-30 09:04] zengqingfu1442 commented on #152
Cargo test inrust-rocksdb?

[dzeng@dzeng rust-rocksdb]$ make test
    Finished dev [unoptimized + debuginfo] target(s) in 0.0 secs
     Running target/debug/deps/rocksdb-7707f1ef9082226d

running 18 tests
test rocksdb::test::snapshot_test ... ok
No
0
Snappy
1
Zlib
2
CSSZlib
10
ZstdNotFinal
64
Lz4hc
5
Bz2
3
Lz4
4
Zstd
7
test rocksdb::test::test_supported_compression ... ok
retrieved utf8 value: abc

[2017-11-30 09:23] siddontang commented on #152
PTAL @huachaohuang

[2017-11-30 10:03] huachaohuang commented on #152
@zengqingfu1442
Hi, I see a long conversation here, try to figure out what happened, can you summarize the situation here for me?
And I see that you are using some modified version of tikv/rust-rocksdb/rocksdb, it will be more efficient if you can show us your changes, so we can review them easily, thanks.

[2017-11-30 10:54] zengqingfu1442 commented on #152
I integrated a new compression named CSSZlib into rocksdb and tikv. I built the tikv dynamically linked to librocksdb.so. But the rocksdb doesn't support LZ4 compression, so when I replaced the official tikv binary in tidb-ansible/resources/bin with my built tikv binary and rolling_update, the tikv instances can't start up, and the tikv.log says "2017/11/30 18:52:47.982 tikv-server.rs:230: [ERROR]

[2017-11-30 11:11] huachaohuang commented on #152
You mean your modified rocksdb doesn't support LZ4, right?
When you first bootstrap the cluster with the official tikv, does that tikv use LZ4 compression?

I guess this can happen if:
1. Bootstrap a new cluster with the official tikv using LZ4 compression
2. The official tikv writes some data with LZ4 compression
3. Replace the official tikv with the modified tikv and restart
4. The modified tikv

[2017-11-30 12:56] zengqingfu1442 commented on #152
Yes, you're right.
However,I tried unsafe_cleanup the official tidb cluster and then replaced tikv binary, deployed, started, the tikv instance will be down after soon.

Part of the tikv.log:
....
....
2017/11/30 20:24:29.714 tikv-server.rs:122: [INFO] start prometheus client
2017/11/30 20:24:29.714 mod.rs:209: [INFO] starting working thread: split check worker
2017/11/30 20:24:29.715 tikv-server.

[2017-11-30 12:57] zengqingfu1442 commented on #152
sst_dump messages:

[tcn@sfx-008 rocksdb-master]$ ./sst_dump --file=/mnt/sfx-card-root/tikv1_1/data/snap --show_compression_sizes
from [] to []
Process /mnt/sfx-card-root/tikv1_1/data/snap/rev_4_6_141_write.sst
Sst file format: block-based
Block Size: 16384
Compression: kNoCompression Size: 788
Compression: kSnappyCompression Size: 781
Compression: kZlibCompression Size: 779
Compression: kCSSZlibC

[2017-11-30 13:01] zengqingfu1442 commented on #152
[tcn@sfx-008 rocksdb-master]$ ldd sst_dump
        linux-vdso.so.1 =>  (0x00007ffed15f1000)
        libpthread.so.0 => /usr/lib64/libpthread.so.0 (0x00007f4ce3313000)
        librt.so.1 => /usr/lib64/librt.so.1 (0x00007f4ce310a000)
        libsnappy.so.1 => /usr/lib64/libsnappy.so.1 (0x00007f4ce2f04000)
        libgflags.so.2.1 => /usr/lib64/libgflags.so.2.1 (0x00007f4ce2ce3000)
        libz.so.1

[2017-11-30 13:15] siddontang commented on #152
I guess this may be caused by https://github.com/pingcap/tikv/blob/master/src/raftstore/store/snap.rs#L514

/cc @huachaohuang

[2017-11-30 13:24] huachaohuang commented on #152
Is your enum value of `kCSSZlibCompression` consistent between rocksdb and the modified rust-rocksdb?
What's your `DBCompressionType` [here](https://github.com/pingcap/tikv/blob/master/src/util/rocksdb/mod.rs#L40)? Maybe you can just replace them with only `DBCompressionType::CSSZlib` in your test.

[2017-11-30 13:44] zengqingfu1442 commented on #152
Yes, I have changed and it's consistent between rocksdb and the modified rust-rocksdb.
It's
_const COMPRESSION_PRIORITY: [DBCompressionType; 4] = [
    DBCompressionType::Lz4,
    DBCompressionType::Snappy,
    DBCompressionType::Zstd,
    DBCompressionType::CSSZlib,
];_

You say just leave only CSSZlib like this?
const COMPRESSION_PRIORITY: [DBCompressionType; 1] = [
//    DBCompressionType::Lz4,

[2017-11-30 13:53] huachaohuang commented on #152
Yep, you can give it a try. If it crashes again, I guess maybe something is wrong with the modified rocksdb, you can run sst_dump with gdb to see what's wrong.

[2017-12-01 00:51] siddontang commented on #152
@huachaohuang

Maybe this is a bug for us. If the user doesn't want to use compression, we can't use it for the snapshot SST too.

[2017-12-01 05:45] zengqingfu1442 commented on #152
Thanks,
1. I change the COMPRESSION_PRIORITY:
tikv/src/util/rocksdb/mod.rs
// Zlib and bzip2 are too slow.
const COMPRESSION_PRIORITY: [DBCompressionType; 3] = [
//    DBCompressionType::Lz4,
    DBCompressionType::Snappy,
    DBCompressionType::Zstd,
    DBCompressionType::CSSZlib,
];
2. Changed the default compression-per-level for rocksdb-defaultcf, rocksdb-writecf and raftrocksdb-defaultcf fro

[2017-12-01 06:22] zengqingfu1442 commented on #152
The default parameter of rocksdb: max_bytes_for_level_multiplier = 10, then how about the value of max_bytes_for_level_multiplier  in rocksdb for tikv?

[2017-12-01 08:01] huachaohuang commented on #152
We use the same default as rocksdb for tikv.

[2017-12-01 11:54] zengqingfu1442 commented on #152
Can you please tell me how you run the sysbench [benchmark](https://github.com/pingcap/docs-cn/blob/master/benchmark/sysbench.md)?
1. ./prepare.sh          Generate data fisrt
2.  ./oltp.sh
3.  ./select.sh
4.   ./insert.sh
Is this the order that you ran sysbench?
Thanks, now I'm running sysbench to evaluate the performance of CSSZlib as well as our CSS card.

[2017-12-01 13:27] huachaohuang commented on #152
Sorry, I don't know exactly how that benchmark run, feel free to open an issue there, I think you can get an answer there.
By the way, since the compression problem is fixed now, can we close this issue now?

[2017-12-20 07:35] zengqingfu1442 commented on #152
Can you please tell me how to check that the data is really compressed by lz4 or zstd or any other compression library in tidb?

[2017-12-20 07:42] zhangjinpeng1987 commented on #152
You can check it in rocksdb's LOG file.

[2017-12-20 08:01] zengqingfu1442 commented on #152
In the log of rocksdb used in tikv, there are some following messages,
2017/12/13-11:21:38.935983 7f4f220c0e40 RocksDB version: 5.7.0
2017/12/13-11:21:38.936317 7f4f220c0e40 Git sha rocksdb_build_git_sha:9f6165a2eb71fc32f74518a2884fb5811fbea693
2017/12/13-11:21:38.936324 7f4f220c0e40 Compile date Dec  1 2017
2017/12/13-11:21:38.936331 7f4f220c0e40 DB SUMMARY
2017/12/13-11:21:38.936391 7f4f220c0e40

[2017-12-20 08:44] zengqingfu1442 commented on #152
How to understand the sentence "the tidb server is stateless"?

[2017-12-21 05:57] zengqingfu1442 commented on #152
Besides, when the tikv cluster is running, we can see that the tikv-server process is using sfx0 and css0 character device for csszlib compression, as well as libcssz.so, librocksdb.so and so on.
[tcn@sfx-003 ~]$ sudo lsof -c tikv-server | grep sfx0
tikv-serv 8158  tcn   77u      CHR              10,58       0t0     12097 /dev/sfx0
tikv-serv 8166  tcn  261u      CHR              10,58       0t0

[2017-12-22 00:14] siddontang commented on #152
@zengqingfu1442

"stateless" means tidb-server keep no persistent data and you can add as many as you want.

Sorry, what do you want to say? Can you explain more clearly?

[2017-12-22 02:27] zengqingfu1442 commented on #152
I mean that the csszlib compression really works for compressing data, which is handled by the hardware, the character device sfx0 and css0.

[2017-12-24 08:05] siddontang commented on #152
Can we close this issue now? @zengqingfu1442

[2018-01-04 05:16] zengqingfu1442 commented on #152
Now I can integrate my compression into tikv-v1.0.2, but when I use the same method to integrate my compression into tikv-v1.0.5, it failed. Is there any suggestions about the errors? Thanks.
[dzeng@dzeng tikv-1.0.5]$ make release
   Compiling librocksdb_sys v0.1.0 (file:///home/dzeng/tikv-v1.0.5/tikv-1.0.5/rust-rocksdb/librocksdb_sys)
   Compiling tikv v1.0.5 (file:///home/dzeng/tikv-v1.0.5/tikv-

[2018-01-04 05:22] siddontang commented on #152
hi @zengqingfu1442

We upgrade RocksDB version now.
Btw, rust-rocksdb uses and statically link the specified RocksDB, you must update your change at https://github.com/pingcap/rust-rocksdb/tree/master/librocksdb_sys/rocksdb directly.

[2018-01-04 05:36] zengqingfu1442 commented on #152
1. I built RocksDB dynamically in TiKV before. How can I build RocksDB statically in TiKV?
2. So if I wanna integrate the compression into tikv-v1.0.5, I need to upgrade the rocksbd version to 5.8.7+ and use the updated rust-rocksdb?

[2018-01-04 06:05] siddontang commented on #152
@zengqingfu1442

We don't support dynamic linking RocksDB now, rust-rocksdb will link RocksDB statically itself.

As I said above, you can add your changes at https://github.com/pingcap/rust-rocksdb/tree/master/librocksdb_sys/rocksdb directly, then rust-rocksdb will compile and link it automatically.

/cc @BusyJay

[2018-01-04 12:30] zengqingfu1442 commented on #152
Now I can integrate my compression into your used rocksdb-5.8.7 at https://github.com/pingcap/rust-rocksdb/tree/master/librocksdb_sys/rocksdb, but when I put the rocksdb  under rust-rocksdb/librocksdb_sys and then `make test`, the compilation failed and show the following error message:

= note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" "/opt/rust/lib/rustlib/x86_64-unknown-linux-gnu

[2018-01-04 13:49] huachaohuang commented on #152
[code]

Seems like it can't find your custom compression implementation, where do you put the implementation of the above function?

[2018-01-05 04:55] zengqingfu1442 commented on #152
I have put the csszlib_compress and csszlib_uncompre function in util/css.cc and implemetation in util/css.cc. And there isn't any compilation error when only compiling the rocksdb-5.8.7.

[2018-01-05 05:11] huachaohuang commented on #152
Can you write a test using the `CSSZlib_Compress/CSSZlib_Uncompress` functions and link with the custom RocksDB library statically to see if everything works fine?

[2018-01-10 04:33] zengqingfu1442 commented on #152
Yes, it works fine.

[2018-01-11 07:52] zengqingfu1442 commented on #152
I learned that the rust-rocksdb integrate rocksdb into tikv by calling C API in rocksdb. When compiling rust-rocksdb, what's the detailed process of compiling rocksdb in rust-rocksdb? Can you help me explain more clearly?Thanks.

[2018-01-12 00:33] siddontang commented on #152
/cc @BusyJay

[2018-04-18 08:33] siddontang opened #203 "test JIRA sync"

[2018-04-18 08:34] #203 closed

[2018-05-10 14:31] BusyJay opened #206 "Fails to compile on fedora 28"
[code]
Logs shows that:
[code]
Related issue: facebook/rocksdb#2705

[2018-06-04 05:28] #206 closed

[2018-07-09 11:59] Kerollmops opened #213 "Merge Operator while opening the DB in read only"
I am currently trying to use a RocksDB with read only settings (`DB::open_cf_for_read_only`) but I am not able to get keys from it, the DB crash with the following message:

[code]

Note that I have previously created the DB (`DB::open`) and created two column families in it (`document` and `field`) and I have setup a merge operator on one of the two column family (`document`) using:

[code]

Once

[2018-07-16 01:52] siddontang commented on #213
PTAL @huachaohuang

[2018-07-16 08:14] Kerollmops commented on #213
Thank you I will try that out ! 👍

[2018-07-16 08:14] #213 closed

[2018-08-29 03:35] messense opened #217 "pure virtual method called, terminate called without an active exception"
Seems related to https://github.com/facebook/rocksdb/issues/649

Backtrace:

[code]

[2018-08-29 06:28] siddontang commented on #217
can you tell us how to reproduce it? seem it happens when closing Database.

[2018-08-30 08:54] messense commented on #217
See the code here: https://github.com/messense/crash-kv

Keep running `cargo test` to reproduce it.
![image](https://user-images.githubusercontent.com/1556054/44841189-5e6aaa80-ac75-11e8-9d18-c4e8a2505d97.png)

[2018-08-31 07:18] siddontang commented on #217
PTAL @DorianZheng

[2018-09-07 03:59] messense commented on #217
Ping, any update?

[2018-09-08 14:01] DorianZheng commented on #217
From strace output, I can tell that this is bug of grpc-io: one thread of grpc-io called "grpc-poll-1" which holds the ref of db exists after main thread exists, and env_ of rocksdb will be destruct after main thread exit because it is a static variable

[2018-09-08 16:33] #217 closed

[2018-09-11 13:54] siddontang commented on #217
@messense

we have moved to https://github.com/pingcap/grpc-rs/issues/227

[2018-10-10 05:03] rgrochowicz opened #223 "Merge result incorrect after database reopen"
After a database is closed and reopened, the merges fail in some way.
Here's a sample repo: https://github.com/rgrochowicz/rust-rocksdb-merge-oddity

Notice that the read happens correctly if the key is read immediately after the merges, but fail after a reopen and the additional merges.

I'm expecting (50+50):
[code]

But receive (50+5?):
[code]

[2018-10-11 14:42] evenyag commented on #223
I encountered a similar issue. My merged result seems odd after db reopened. I found out this line always set `new_value_length` to 1, which may cause this problem.

[https://github.com/pingcap/rust-rocksdb/blob/348b5bc94d1b7aee486f04c7aacca7f1712cdae0/src/merge_operator.rs#L91](https://github.com/pingcap/rust-rocksdb/blob/348b5bc94d1b7aee486f04c7aacca7f1712cdae0/src/merge_operator.rs#L91)

I am t

[2018-10-12 03:17] rgrochowicz commented on #223
Thanks @evenyag! I can confirm #224 fixes this issue.

[2018-10-12 03:17] #223 closed

[2018-10-12 06:02] fredchenbj opened #225 "rocksdb::DBWithTTL::Open support ?"
Would rocksdb::DBWithTTL::Open be supported ? We want to use this interface.

[2018-10-13 07:11] siddontang commented on #225
I guess it may be easy to add, it is very appreciated that you can send us a PR. @fredchenbj

[2018-10-14 02:58] fredchenbj commented on #225
@siddontang OK, I has finished the code, and will sent a PR recently.

[2018-10-17 09:03] DorianZheng commented on #225
#227

[2018-10-24 07:13] #225 closed

[2018-11-01 07:07] messense opened #231 "Test inference warning"
warning: An explicit [[test]] section is specified in Cargo.toml which currently
disables Cargo from automatically inferring other test targets.
This inference behavior will change in the Rust 2018 edition and the following
files will be included as a test target:

* /home/travis/build/pingcap/rust-rocksdb/tests/test_rate_limiter.rs
* /home/travis/build/pingcap/rust-rocksdb/tests/test_delete_files

[2018-12-03 21:48] Kerollmops opened #245 "DBIterator must be seeked before used"
I just wanted to inform users of the library that if they can't see any entry using any `DBIterator` this is propbably because they forgot to `iter.seek(SeekKey::Start)` for example.

It takes me a long time to understand why, I read many things on RocksDB before I decided to look into some iterator tests of this rust wrapper.

https://github.com/pingcap/rust-rocksdb/blob/05aaf93fdceff092768b1e9d5

[2018-12-05 09:52] DorianZheng commented on #245
@Kerollmops Mostly because the `DBIterator` won't position at any key before user calls one of `Seek`, `SeekForPrev`, `SeekToFirst`, or `SeekToLast` manually. Thank you for informing this, do you think we can close it now?

[2018-12-05 12:47] Kerollmops commented on #245
I think we can not close it until someone (including me) as made a PR that clarify in the doc and/or change the current behavior of the iterator. Because currently the `DBIterator` does not follow the RAII rules in the sence that it is not "initialised" just after the creation.

It could be interresting to create something like a `DBIteratorBuilder` that does not implement the `Iterator` trait its

[2018-12-10 07:00] huachaohuang commented on #231
Fixed in https://github.com/pingcap/rust-rocksdb/pull/243

[2018-12-10 07:00] #231 closed

[2018-12-11 08:19] huachaohuang opened #249 "test_delete_files_in_range fails in different places"
[code]

[2018-12-11 09:57] #249 closed

[2018-12-27 05:32] gripleaf opened #255 "Auto-tuned Rate Limiter"
whether the rust-rocksdb support auto tuned rate limiter which was mentioned in this [paper](https://www.percona.com/live/18/sites/default/files/RocksEFile-combined_032718.pdf) last year?

it item seems has an obviously impact on read/write latencies.

[2018-12-27 11:15] siddontang commented on #255
PTAL @huachaohuang

[2018-12-27 16:03] huachaohuang commented on #255
RocksDB supports that, we just need to add a wrapper for it, are you interested in adding one?

[2018-12-28 12:41] gripleaf commented on #255
Of course!
I will submit a PR ASAP.

[2019-01-05 09:50] DorianZheng commented on #255
#257

[2019-01-05 09:50] #255 closed

[2019-01-18 11:23] fredchenbj opened #264 "compile error"
when compile `tikv` branch master(6d60e7c)，compile error occurs:

/home/worker/.cargo/git/checkouts/rust-rocksdb-82ef6e5337b3fbe6/1317e2e/librocksdb_sys/rocksdb/utilities/titandb/options.cc: In member function ‘std::string rocksdb::titandb::TitanCFOptions::ToString() const’:
/home/worker/.cargo/git/checkouts/rust-rocksdb-82ef6e5337b3fbe6/1317e2e/librocksdb_sys/rocksdb/utilities/titandb/options.cc:

[2019-01-20 02:48] DorianZheng commented on #264
@fredchenbj Thanks for the issue. I've filed a PR to fix it.
#265

[2019-01-27 14:42] #264 closed

[2019-01-27 14:43] #162 closed

[2019-01-28 03:05] DorianZheng opened #269 "Compile error: PRIu64"
![image](https://user-images.githubusercontent.com/8065637/51812455-888bcb80-22ec-11e9-84a7-fc7e6253c4b5.png)

We need to go through all codes using `PRIu64` and make sure we can compile it, this is only a reminder for `pingcap/rocksdb/titan-5.15`

[2019-02-27 03:37] DorianZheng opened #277 "Titan is not compatible with DeleteFilesInRanges"
According to my test, Titan is still not compatible with DeleteFilesInRanges.

[2019-02-27 03:37] #277 closed

[2019-03-14 18:44] yiwu-arbug opened #279 "Improvement for upper/lower bound"
See https://github.com/facebook/rocksdb/issues/5059

[2019-03-21 20:17] yiwu-arbug opened #282 "Upgrade RocksDB to 5.18"
Current rocksdb fork is based on rocksdb 5.15, which is half a year old.

[2019-03-21 20:21] yiwu-arbug commented on #282
Currently test_set_external_sst_file_global_seq_no is failing. This is because rocksdb introduces `ingest_external_file_options.write_global_seqno` and default to true. Will set it to false on tikv side for now, and work on turning it on later.

[2019-03-21 20:45] yiwu-arbug commented on #282
Actually `write_global_seqno` defaults to true and the test failure can be workaround.

[2019-03-22 19:21] yiwu-arbug commented on #282
Fix on rocksdb side with https://github.com/facebook/rocksdb/pull/5097

[2019-03-24 20:20] yiwu-arbug commented on #282
Created tag tikv3.0.0-beta1 with the above fix before it is merged in rocksdb. Updated PR #280.

[2019-03-25 05:36] #282 closed

[2019-05-13 12:01] BusyJay opened #295 "Compilation error on Linux"
Error messages are as follow:
[code]

The distribution I'm using is Fedora 30. Extra information as listed:
[code]

[2019-05-14 21:35] yiwu-arbug commented on #295
gcc has version 9 already?!

[2019-05-15 03:28] BusyJay commented on #295
Surprise! /cc facebook/rocksdb#5303

[2019-06-11 11:22] siddontang opened #300 "LogWriter to only flush after finish generating whole record"
see RocksDB https://github.com/facebook/rocksdb/pull/5328/files

In my local test, I find some time is taken in Flush:

![image](https://user-images.githubusercontent.com/1080370/59267849-ddb5f180-8c7d-11e9-8500-f76ea8cd8b7c.png)

And I find this PR and just do a simple test in TiKV with 1 PD + 1 TiKV

[code]

With this change:
[code]

Without this change:
[code]

QPS is increased by 3%, so I thin

[2019-06-18 16:29] Hoverbear commented on #295
I'll post a workaround momentarily.

[2019-07-18 09:17] fredchenbj opened #318 "perf context test failure"
run `cargo test` on mac os, two asserts in src/perf_context.rs failed:
`assert_eq!(ctx.seek_internal_seek_time(), 0); `  L431
`assert_eq!(get_perf_level(), PerfLevel::EnableCount);`  L437

[2019-07-19 01:55] yiwu-arbug commented on #318
@fredchenbj thanks for reporting. will check when we got a chance.

[2019-07-22 04:26] yiwu-arbug commented on #318
@fredchenbj I'm not able to reproduce on my side. Which test fail on your side? What's your c++ compiler version? Thanks.

[2019-07-22 06:31] fredchenbj commented on #318
@yiwu-arbug Sorry, I didn't describe it clearly. I use `cargo test -- --test-threads=1` failed at `perf_context::test::test_perf_context`, but `cargo test` works well.

[2019-07-23 02:46] #318 closed

[2019-07-29 08:47] BusyJay commented on #295
Build with latest cherry pick still fails with following:

[code]

[2019-07-29 21:53] yiwu-arbug commented on #295
@BusyJay not reproducing on my side (ubuntu 19.10 + gcc9). Does adding `static_cast<int>` around `no_files_limit.rlim_cur` work for you?

[2019-07-30 18:28] yiwu-arbug commented on #295
Fix https://github.com/facebook/rocksdb/pull/5651

[2019-08-05 05:00] yiwu-arbug opened #330 "Implement Logger interface"
Implement the `Logger` interface to allow writing a Logger object in rust and pass it to rocksdb.

The `Logger` interface: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/env.h#L972

You can look at src/slice_transform.rs for an example to see how to turn interface in c++ into a rust one.

[2019-08-05 05:00] yiwu-arbug commented on #330
cc @glommy-left-hand

[2019-09-05 01:17] yiwu-arbug opened #340 "Publish pingcap/rust-rocksdb to crates.io as TiRocks"
To support community users of pingcap/rust-rocksdb, we would like to publish pingcap/rust-rocksdb to crates.io using the name "tirocks". We plan to use the same versioning as tikv, and have a roughly the same release schedule as tikv.

[2019-09-05 01:25] BusyJay commented on #340
There are also a few things to do:

- [ ] Update README and Cargo.toml to use the latest name
- [ ] Cleanup Cargo.toml to remove unnecessary dependencies or git dependencies.

We use git dependencies to support statically linking. We need to come up with another way.

[2019-09-05 01:28] BusyJay commented on #340
tirocks can use its own version and release schedule just like grpcio or raft-rs. Besides, I don't think tirocks can reach 1.0 yet. It needs to fill a lot of missing documents at least.

[2019-09-05 01:41] yiwu-arbug commented on #340
if that the practice of grpcio and raft-rs, let's have tirocks release separately then.

[2019-09-09 11:04] BusyJay commented on #340
Any progress on this?

[2019-09-09 18:31] yiwu-arbug commented on #340
No progress yet. May not have time to work on it this month.

[2019-09-11 11:17] BusyJay commented on #295
I can confirm that rust-rocksdb is built successfully using the latest compile toolchains on fedora 30.

[2019-09-11 11:18] #295 closed

[2019-09-23 09:54] siddontang opened #343 "build failed with clang 11"
[code]

[code]

[2019-09-23 13:53] siddontang opened #344 "should disable WITH_TESTS and WITH_TOOLS"
I find we enable WITH_TESTS and WITH_TOOLS in the CMakeCache.txt.
[code]

Although we don't compile them in fact, it may be better that we can disable them manually, in the build.rs:

[code]

[2019-09-25 18:28] #344 closed

[2019-09-25 20:50] Hoverbear commented on #295
Related to #343

[2019-09-26 06:11] jolestar commented on #343
The same problem, someone finds a workaround method to fix this? I do not want to rollback the XCode Command Line Tools version.

[2019-09-26 17:04] Hoverbear commented on #343
Fix is pending: https://github.com/pingcap/rocksdb/pull/123

[2019-09-29 09:07] BusyJay opened #352 "Should use `target_feature` instead of feature name to check whether to enable sse"
Using [`target_feature`](https://github.com/rust-lang/rfcs/blob/master/text/2045-target-feature.md) is the rusty way to enable sse, so that we can remove a feature name and allow other crates to utilize sse by the same configuration.

[2019-09-30 03:08] Connor1996 commented on #343
Already fixed

[2019-09-30 03:08] #343 closed

[2019-10-16 21:57] #269 closed

[2019-10-16 21:57] #279 closed

[2019-10-25 03:30] yiwu-arbug opened #361 "Use rocksdb SyncPoint to support fail-rs"
To allow integration test frameworks to control rocksdb internals, we can make use of rocksdb `SyncPoint` to support rust fail-point https://github.com/tikv/fail-rs There are some difference between `SyncPoint` and fail-point. Some of the items to work on:

- [ ] Make fail-point support dependencies (one fail-point wait for another before proceed)
- [ ] Make `SyncPoint` support early return
- [ ]

[2019-10-25 03:30] yiwu-arbug commented on #361
cc @Connor1996

[2019-10-25 05:51] Connor1996 commented on #361
Very useful!

[2019-10-25 07:45] Notmeor opened #362 "Add create_missing_column_families option"
`create_missing_column_families` option seems missing in this wrapper.

[2019-10-25 08:07] Connor1996 commented on #362
Seem yes, Would you like to add it?

[2019-10-25 12:37] Notmeor commented on #362
I'd like to once I get the time.

[2019-10-28 11:53] BusyJay opened #364 "Should not update titan repository during build time"
Source code is expected to be consistent during build time, but `update_titan` features update the submodule to the latest version. It's an abuse of features, which breaks the purpose of versioning.

I suggest to remove the features completely and use make target to update submodules.

/cc @nrc @siddontang

[2019-10-28 20:54] nrc commented on #364
Given that there is a make target to do the job, I think there is not much need to have the Cargo feature to do it too, afaict, it doesn't do anything Cargo specific.

If this were a pure Rust project, then I think it is OK to do this rather than adding a script or Makefile, but since there is a Makefile already I think it is better to use it.

[2019-10-30 06:26] #364 closed

[2019-11-04 08:23] zhangjinpeng1987 opened #375 "Feature request: level compaction skip some sst to reduce write amplification"
Ln      sst1[a...b e...f]
Ln+1  sst2[a...b] sst3[c...d] sst4[e...f]
Assume a level compaction picks sst1, sst2, sst3 and sst4 as source ssts, we can see sst3's key range  is a gap in sst1, but their ranges overlaps. And sst3's content unnecessarily re-written in level n+1.
In TiDB the gap between index keys and row keys for the same row is broad, and will cause extra write amplification.

@yiwu-ar

[2019-11-06 07:21] ckanner opened #378 "build failed"
The machine is MacOs.

My dependency is
`
[dependencies.rocksdb]
git = "https://github.com/pingcap/rust-rocksdb.git"
 package = "rocksdb"
 branch = "tikv-3.0"
`

My cmake version is
`
cmake version 3.15.5
CMake suite maintained and supported by Kitware (kitware.com/cmake).
`

My gcc version is
`
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applic

[2019-11-06 18:22] yiwu-arbug commented on #378
Should be fixed after https://github.com/tikv/rust-rocksdb/pull/376. You can update to the latest master and try again. Please reopen if it doesn't help. Thanks.

[2019-11-06 18:22] #378 closed

[2019-11-10 09:33] zhangjinpeng1987 commented on #375
@huachaohuang Seems you have finish this issue https://github.com/facebook/rocksdb/pull/6021, Do you have interest to participate our performance challenge match? https://pingcap.com/community-cn/tidb-performance-challenge/

[2019-11-10 09:37] huachaohuang commented on #375
Well, I'm not sure, I just do that for fun. Thanks for letting me know.

[2019-11-11 06:45] Connor1996 opened #381 "Use bindgen to auto generate FFI"
See https://github.com/rust-lang/rust-bindgen
Also, notice that https://github.com/rust-rocksdb/rust-rocksdb is already using `bindgen`, maybe we can rebase to it and add what we need.

[2019-11-14 01:57] fredchenbj commented on #381
I would like to try it ~

[2019-11-25 07:26] Sullivan12138 commented on #361
I would like to take this task, and choose the exposing syncpoint's API part

[2019-11-25 21:10] yiwu-arbug commented on #361
https://github.com/facebook/rocksdb/issues/6087

[2019-11-29 08:53] Sullivan12138 commented on #361
Sorry, there's another task that invite me to do, so I may have to quit

[2019-12-06 20:42] yiwu-arbug commented on #381
Please mind that the upstream c.cc has an issue where it will return incorrect bloom filter:https://github.com/facebook/rocksdb/issues/6129 The issue was fixed in our c.cc. I'm not sure if our fork has more fixes not included upstream. cc @Connor1996 @fredchenbj

[2019-12-07 11:12] zhangjinpeng1987 opened #400 "AB test between RocksDB and Titan"
Do random operations in the same order, and check if the content in Titan and in RocksDB are consistent.

Operations
- Put
- Delete
- DeleteFilesInRanges
- Ingest sst file
- Get snapshot and release
- Create Iterator and release

Step
- Generate random operations
- Apply to Titan and RocksDB
- Check

[2019-12-09 02:11] Connor1996 commented on #381
Oh, seems we should take a careful look at the difference when updating c.cc @fredchenbj

[2019-12-09 11:49] fredchenbj commented on #381
I make some general illustrations about this task here:

- the migration plan has three steps:

1) make some change in c.h & c.c to make bindgen work in pr https://github.com/tikv/rust-rocksdb/pull/401. Then use the old crocksdb's c.h and  bindgen to generate ffi rust code, and make it work for all dependency code; this step now is in progress in pr https://github.com/tikv/rust-rocksdb/pull/398.
2

[2020-02-05 09:14] huachaohuang commented on #375
How's the progress of this issue, are you still working on https://github.com/facebook/rocksdb/pull/5201?
I'm interested on using this feature now.

[2020-02-05 18:57] yiwu-arbug commented on #375
I'm restarting the work.

[2020-03-02 19:28] mimoo opened #440 "can't compile with clang-10"
# 🐛 Bug

[code]

and later:

[code]

[2020-03-02 19:59] mimoo commented on #440
nevermind I think this is on our side ^^

[2020-03-02 19:59] #440 closed

[2020-03-26 06:33] yiwu-arbug opened #457 "Make libtitan_sys depend on librocksdb_sys"
Currently librocksdb_sys depend on libtitan_sys. We should make it the other way around.

Low priority.

[2020-03-27 03:58] yiwu-arbug opened #459 "force clang-format in CI"
The clang-format script under librocksdb_sys/crocksdb is broken. We should update the script to something like https://github.com/tikv/titan/blob/master/scripts/format-diff.sh and update CI to force clang-format.

[2020-03-28 03:23] mimoo opened #461 "linking with `cc` failed: multiple definition of `__muloti4'"
Hello,

I'm running into a link failure with `cc` and I'm not sure how to investigate this. I'm also running out of ideas.

[code]

This will compile with clang 10 on ubuntu xenial:

[code]

I'm getting this error:

[code]

[2020-03-28 04:16] yiwu-arbug commented on #461
@mimoo are you filing issue in the wrong repo?

[2020-03-28 04:22] yiwu-arbug commented on #461
The file int128_builtins.cpp seems to be from libc++. We static link with libc++ in our build file: https://github.com/tikv/rust-rocksdb/blob/master/librocksdb_sys/build.rs#L86. Maybe `oss-fuzz` or some of its other dependency also link with a different version of libc++, causing conflict? Just a wild guess.

[2020-03-28 06:32] mimoo commented on #461
ah, what version are you using?

[2020-03-31 00:03] mimoo commented on #461
the error seems to indicate this crate no?

[code]

[2020-03-31 01:31] yiwu-arbug commented on #461
See my comment above.

[2020-03-31 08:28] mimoo commented on #461
mmm, I'm not sure how to investigate these kind of errors. It looks like libfuzzer uses stdc++ as well: https://github.com/rust-fuzz/libfuzzer/blob/master/build.rs#L14

and it is re-defined in the docker env: https://github.com/google/oss-fuzz/blob/daa9523feefad08cf42a1ab18e5d44f7630055aa/projects/libra/build.sh#L26

[2020-03-31 19:10] yiwu-arbug commented on #461
Discuss with @BusyJay, we should provide static link with libc++ as a feature, not by default. The original purpose of static link was to make binaries can run on system without installing libc++ dylib.

[2020-03-31 19:11] yiwu-arbug commented on #461
@mimoo Feel free to submit a PR for fix.

[2020-04-01 02:02] #461 closed

[2020-06-21 20:51] yiwu-arbug commented on #459
fixed by #508

[2020-06-21 20:51] #459 closed

[2020-06-21 21:20] yiwu-arbug opened #513 "Reduce boxing in callback structs"
RocksDB expose several APIs to allow client code to inject custom logic, such as compaction filter and table properties collector. rust-rocksdb usually implement such APIs in the follow way.

Assume rocksdb expose such a struct for callback
[code]

rust-rocksdb usually provide the API in the following way:
[code]

Note here `ctx` is a `Box<Box<dyn Callback>>`. The inner box is to hold the trait ob

[2020-06-23 03:25] yiwu-arbug opened #514 "Support rocksdb-cloud"
Add bindings for rocksdb-cloud(https://github.com/rockset/rocksdb-cloud)'s `CloudEnv` interface. In particular the following tasks need to be done:

updated plan:
- [ ] port cloud-env code from rocksdb-cloud to tikv/rocksdb 6.4.tikv branch, but make the code compile conditionally.
- [ ] add crocksdb binding for the cloud env code.
- [ ] add rust binding code. Gate the code and building of the clou

[2020-06-23 03:30] yiwu-arbug commented on #514
@de-sh

[2020-06-23 12:15] de-sh commented on #514
So we are supposed to be integrating the code within the same path, i.e. `librock_sys/rocksdb-cloud` so that we can start utilising `rocksdb-cloud/cloud`. Are we supposed to make the submodule at branch master?

[2020-06-23 14:01] de-sh commented on #514
To be more clear, are we supposed to or not supposed to create a new crate?

[2020-06-23 23:00] yiwu-arbug commented on #514
I would like to add the path `librocksdb_cloud_sys` under root directory. And yes, in master branch, but probably guard it behind a `rocksdb-cloud` feature.

[2020-06-23 23:01] yiwu-arbug commented on #514
yes, a new crate but not under /librocksdb_sys directory.

[2020-07-25 16:46] bodhif4 opened #523 "Questions: About IndexType::TwoLevelIndexSearch"
What is **TwoLevelIndexSearch**?  I only find two index types (BinarySearch and BinaryAndHash ) in [Rocksdb documentation](https://github.com/facebook/rocksdb/wiki/Data-Block-Hash-Index) but no **TwoLevelIndexSearch**.

[2020-07-27 04:51] yiwu-arbug commented on #523
@bodhif4 please see https://github.com/facebook/rocksdb/wiki/Partitioned-Index-Filters

[2020-07-27 04:51] #523 closed

[2020-08-05 02:32] #514 closed

[2020-08-05 02:32] yiwu-arbug commented on #514
#517 merged. work done.

[2020-09-27 14:40] breeswish opened #543 "Implement BitMask PerfContext"
## Description

This issue is previously raised in https://github.com/facebook/rocksdb/issues/7073 . There aren't responses from the RocksDB team so that we can implement by our own first.

See https://github.com/facebook/rocksdb/issues/7073 for details.

## Score

- 3000

## Mentor(s)

- @breeswish
- @yiwu-arbug
- @zhongzc

Contact the mentors: **#tidb-challenge-program** channel in [TiDB Communi

[2020-10-16 03:16] Rustin-Liu commented on #543
/ping

[2020-10-28 03:21] yiwu-arbug commented on #300
This change was included when we upgrade to rocksdb 6.4.

[2020-10-28 03:21] #300 closed

[2020-12-04 05:01] Fullstop000 opened #576 "Build fail on Apple Silicon/M1"
I'm trying to build rust-rocksdb on Apple Silicon machine and got some errors:
[code]

This could be caused by `librocksdb_cloud_sys/cmake_modules/rocksdb_flags.cmake`

[2020-12-22 04:17] #362 closed

[2021-02-23 04:23] Yisaer commented on #543
/ping

[2021-03-08 00:48] LemonHX commented on #543
/ping

[2021-03-08 02:11] hi-rustin commented on #543
I have taken Challenge bot offline because the experience was so bad. We are in the process of redeveloping it.

[2021-04-07 02:05] shangsony opened #619 "什么时候能够支持windows版本呢"

[2021-04-07 02:56] Connor1996 commented on #619
Sorry, there is no plan for it.

[2021-08-12 12:22] BusyJay commented on #576
This should be supported.

[2021-08-12 12:22] #576 closed

[2021-08-23 06:46] yiwu-arbug opened #654 "WriteBatch::iterate memory leak"
`WriteBatch::iterate` construct a `Box<WriteBatchCallback>` then convert it into raw pointer and pass it into C code. However, it fail to reclaim the memory. To fix the issue, we need to convert the raw pointer back into `Box<WriteBatchCallback>` and let rust to auto drop it.
https://github.com/tikv/rust-rocksdb/blob/master/src/write_batch.rs#L118

[2021-08-24 12:05] yuqi1129 commented on #654
Hi, i would like to take this ticket if it has not been assigned

[2021-08-24 12:16] tisonkun commented on #654
/assign @yuqi1129

It is clearly no one be assigned. Thanks for taking over this issue. I'll assign the issue to you.

[2021-09-02 19:14] #654 closed

[2021-11-04 10:20] tabokie commented on #513
Reopen this, #663 missed the following types:
- CompationFilter, CompactionFilterFactory
- SliceTransform

[2021-12-11 10:07] #513 closed

[2022-03-15 07:32] Smityz opened #675 "Can't compile with README.md"
use `cargo build` can't pass the compile
[code]
and so many warnings when I use `cargo +nightly build`
[code]
Is that normal?

[2022-03-15 07:34] Connor1996 commented on #675
should use nightly toolchain

[2022-03-15 08:07] Smityz commented on #675
[code]
After setting rust like this, still have some warnings, but it can compile successfully now, thanks for your help

[2022-03-15 10:15] #675 closed

[2022-04-22 08:09] Nugine opened #685 "Doc: update examples"
https://github.com/tikv/rust-rocksdb/blob/e97c9b50d388ac00aae538afcdbb6224a2b12fda/README.md?plain=1#L86-L90

https://github.com/tikv/rust-rocksdb/blob/e97c9b50d388ac00aae538afcdbb6224a2b12fda/src/rocksdb.rs#L806-L808

Corrected:

[code]

[2022-04-22 08:11] tabokie commented on #685
Thanks for the catch! Could you send us a PR to fix it?

[2022-04-23 06:21] #685 closed

[2022-06-13 10:05] waynexia opened #696 "Compile fail in clang 13.1.6"
We encounter this compile error while building `rocksdb-rust`: https://github.com/CeresDB/ceresdb/issues/34 (reported by @RayneHwang)

And the workaround is: https://github.com/CeresDB/ceresdb/issues/34#issuecomment-1153698765

It seems to be related to clang's version. We cannot reproduce this under clang 13.0 .

[2022-06-13 10:27] tabokie commented on #696
Should be fixed by https://github.com/tikv/titan/pull/231. Please try using a newer version.

[2022-06-14 04:39] waynexia commented on #696
Thanks, the master branch looks good ❤️

[2022-06-14 04:39] #696 closed

[2022-07-10 14:16] iiibui opened #710 "The variable 'cf_opts' is not used by 'DB::open_cf'"
https://github.com/tikv/rust-rocksdb/blob/d8b7ff8aee62aa9a406b64f7093049d62eeb9a1a/tests/cases/test_rocksdb_options.rs#L345-L374

`DB::open_cf(opts, path.path().to_str().unwrap(), vec!["default"]).unwrap();`
why not
`DB::open_cf(opts, path.path().to_str().unwrap(), vec![("default"], cf_opts)).unwrap();`

[2022-07-10 15:04] tabokie commented on #710
Good catch, feel free to file a fixing PR.

This particular issue could be easily detected by clippy, but there're too many of them and we never get the time to fix them.